GADGETHUB_PORT = PORT;
GEMINI_API_KEY = GEMINI_API_KEY
GOOGLE_CLIENT_ID = GOOGLE_CLIENT_ID
BACKEND_URL = BACKEND_URL
FRONTEND_URL = FRONTEND_URL
ESEWA_MERCHANT_CODE = ESEWA_MERCHANT_CODE
ESEWA_SECRET_KEY = ESEWA_SECRET_KEY
ESEWA_PAYMENT_URL = ESEWA_PAYMENT_URL
ESEWA_STATUS_CHECK_URL = ESEWA_STATUS_CHECK_URL